.subscribe-button {
    display: block;
    margin: 0 0 0 10px;
    padding: 4px 10px;
    color: #fff;
    border-radius: 10px;
    opacity: 1;
    font-weight: bold;
    text-transform: uppercase;
}
@media (max-width: 600px) {
    .subscribe-button {
        color: #000;
        border-color: #fff;
    }
}

.subscribe-button:hover {
    text-decoration: none;
    opacity: 1;
}

.site-nav-right .nav + .subscribe-button {
    margin-left: 24px;
}
/* 7.2. Members Subscribe Form
/* ---------------------------------------------------------- */
.subscribe-form {
    margin: 1.5em 0;
    padding: 6.5vw 7vw 8vw;
    border: color-mod(var(--lightgrey) l(+10%)) 1px solid;
    text-align: center;
    background: linear-gradient(
        color-mod(var(--whitegrey) l(+6%)),
        color-mod(var(--whitegrey) l(+4%))
    );
    border-radius: 3px;
}

.subscribe-form-title {
    margin: 0 0 3px 0;
    padding: 0;
    color: var(--darkgrey);
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 600;
}

.subscribe-form-description {
    margin-bottom: 0.2em 0 1em;
    color: var(--midgrey);
    font-size: 2.1rem;
    line-height: 1.55em;
}

.subscribe-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 460px;
}

.subscribe-form .form-group {
    align-self: stretch;
    display: flex;
}

.subscribe-email {
    display: block;
    padding: 10px;
    width: 100%;
    border: color-mod(var(--lightgrey) l(+7%)) 1px solid;
    color: var(--midgrey);
    font-size: 1.8rem;
    line-height: 1em;
    font-weight: normal;
    user-select: text;
    border-radius: 5px;
    transition: border-color 0.15s linear;

    -webkit-appearance: none;
}

.subscribe-email:focus {
    outline: 0;
    border-color: color-mod(var(--lightgrey) l(-2%));
}

.subscribe-form button {
    position: relative;
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0 20px;
    height: 43px;
    outline: none;
    color: #fff;
    font-size: 1.5rem;
    line-height: 39px;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(
        color-mod(var(--blue) whiteness(+7%)),
        color-mod(var(--blue) lightness(-7%) saturation(-10%)) 60%,
        color-mod(var(--blue) lightness(-7%) saturation(-10%)) 90%,
        color-mod(var(--blue) lightness(-4%) saturation(-10%))
    );
    border-radius: 5px;

    -webkit-font-smoothing: subpixel-antialiased;
}

.subscribe-form button:active,
.subscribe-form button:focus {
    background: color-mod(var(--blue) lightness(-9%) saturation(-10%));
}

.subscribe-form .button-loader,
.subscribe-form .message-success,
.subscribe-form .message-error {
    display: none;
}

.subscribe-form .loading .button-content {
    visibility: hidden;
}

.subscribe-form .loading .button-loader {
    position: absolute;
    top: 0;
    left: 50%;
    display: inline-block;
    margin-left: -19px;
    transform: scale(0.7);
}

.subscribe-form .button-loader svg path,
.subscribe-form .button-loader svg rect {
    fill: #fff;
}

.subscribe-form .success .message-success,
.subscribe-form .invalid .message-error,
.subscribe-form .error .message-error {
    margin: 1em auto 0;
    max-width: 400px;
    color: var(--red);
    font-size: 1.6rem;
    line-height: 1.5em;
    text-align: center;
}

.subscribe-form .success .message-success {
    display: block;
    color: color-mod(var(--green) l(-5%));
}

.subscribe-form .invalid .message-error,
.subscribe-form .error .message-error {
    display: block;
}

@media (max-width: 650px) {
    .subscribe-form-title {
        font-size: 2.4rem;
    }

    .subscribe-form-description {
        font-size: 1.6rem;
    }
}

@media (max-width: 500px) {
    .subscribe-form form {
        flex-direction: column;
    }

    .subscribe-form .form-group {
        flex-direction: column;
        width: 100%;
    }

    .subscribe-form button {
        margin: 10px 0 0 0;
        width: 100%;
    }
}
@media (min-width: 300px) {
    .subscribe-form-title {
        font-size: 2rem;
    }

    .subscribe-form-description {
        font-size: 1rem;
    }
}
/* 10. Subscribe Message and Overlay
/* ---------------------------------------------------------- */

.subscribe-success-message {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9000;
    padding: 20px 0;
    color: #fff;
    text-align: center;
    background: var(--green);
    transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    transform: translateY(-175%);
}

.subscribe-success .subscribe-success-message {
    visibility: visible;
    transform: translateY(0);
}

.subscribe-success-message.close {
    visibility: hidden;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateY(-175%);
}

.subscribe-success-message .subscribe-close-button {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.subscribe-success-message .subscribe-close-button:before,
.subscribe-success-message .subscribe-close-button:after {
    top: 31px;
    right: 20px;
    width: 18px;
    height: 2px;
}

.subscribe-close-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

.subscribe-close-button {
    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 2000;
    display: block;
    width: 40px;
    height: 40px;
}

.subscribe-close-button:before {
    content: "";
    position: absolute;
    top: 20px;
    right: 4px;
    display: block;
    width: 32px;
    height: 1px;
    background: #fff;
    opacity: 0.8;
    transform: rotate(45deg);
}

.subscribe-close-button:after {
    content: "";
    position: absolute;
    top: 20px;
    right: 4px;
    display: block;
    width: 32px;
    height: 1px;
    background: #fff;
    opacity: 0.8;
    transform: rotate(-45deg);
}

.subscribe-close-overlay:hover,
.subscribe-close-button:hover {
    cursor: pointer;
}

.subscribe-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(9, 10, 11, 0.97);
    opacity: 0;
    transition: opacity 0.2s ease-in;
    pointer-events: none;
}

.subscribe-overlay:target {
    z-index: 2001;
    opacity: 1;
    pointer-events: auto;
}

.subscribe-overlay-content {
    position: relative;
    margin: 0 0 5vw 0;
    padding: 4vw;
    color: #fff;
    text-align: center;
}

.subscribe-overlay .subscribe-form {
    border: none;
    color: #fff;
    background: none;
}

.subscribe-overlay-logo {
    position: fixed;
    top: 23px;
    left: 30px;
    height: 30px;
}

.subscribe-overlay-title {
    display: inline-block;
    margin: 0 0 10px 0;
    font-size: 4rem;
    line-height: 1.15em;
    color: #fff;
}
@media (max-width: 500px) {
    .subscribe-overlay-title {
        font-size: 3rem;
    }
    .subscribe-overlay-description {
        font-size: 1.6rem;
    }
    .subscribe-email {
        font-size: 1.1rem;
    }
    .subscribe-overlay {
        font-size: 1.1rem;
    }
    .subscribe-close-button {
        top: 30px;
    }
    .subscribe-form .invalid .message-error,
    .subscribe-form
        .error
        .message-error
        .subscribe-form
        .success
        .message-success {
        font-size: 1rem;
    }
}

.subscribe-overlay-description {
    margin: 0 auto 50px;
    max-width: 650px;
    color: #fff;
    font-family: Georgia, serif;
    font-size: 2rem;
    line-height: 1.3em;
    font-weight: 300;
    opacity: 0.8;
    text-align: center;
}

.subscribe-overlay form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 540px;
}

.subscribe-overlay .form-group {
    flex-grow: 1;
}

.subscribe-overlay .subscribe-email {
    display: block;
    padding: 14px 20px;
    width: 100%;
    border: none;
    color: var(--midgrey);
    font-size: 2rem;
    line-height: 1em;
    font-weight: normal;
    letter-spacing: 0.5px;
    user-select: text;
    border-radius: 8px;
    transition: border-color 0.15s linear;

    -webkit-appearance: none;
}

.subscribe-email:focus {
    outline: 0;
    border-color: color-mod(var(--lightgrey) l(-2%));
}

.subscribe-overlay button {
    display: inline-block;
    margin: 0 0 0 15px;
    padding: 0 25px;
    height: 52px;
    outline: none;
    color: #fff;
    font-size: 1.7rem;
    line-height: 38px;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(
        color-mod(var(--blue) whiteness(+7%)),
        color-mod(var(--blue) lightness(-7%) saturation(-10%)) 60%,
        color-mod(var(--blue) lightness(-7%) saturation(-10%)) 90%,
        color-mod(var(--blue) lightness(-4%) saturation(-10%))
    );
    border-radius: 8px;

    -webkit-font-smoothing: subpixel-antialiased;
}

.subscribe-overlay button:active,
.subscribe-overlay button:focus {
    background: color-mod(var(--blue) lightness(-9%) saturation(-10%));
}

.subscribe-overlay .loading .button-loader {
    top: 5px;
}

@media (max-width: 500px) {
    .subscribe-overlay button {
        margin: 12px 0 0;
    }
}
.subscribe-form {
    border: none;
    background: linear-gradient(
        color-mod(var(--darkmode) l(-6%)),
        color-mod(var(--darkmode) l(-3%))
    );
}

.subscribe-form-title {
    color: rgba(255, 255, 255, 0.9);
}

.subscribe-form p {
    color: rgba(255, 255, 255, 0.7);
}

.subscribe-email {
    border-color: color-mod(var(--darkmode) l(+6%));
    color: rgba(255, 255, 255, 0.9);
    background: color-mod(var(--darkmode) l(+3%));
}

.subscribe-email:focus {
    border-color: color-mod(var(--darkmode) l(+25%));
}

.subscribe-form button {
    opacity: 0.9;
}

.subscribe-form .invalid .message-error,
.subscribe-form .error .message-error {
    color: color-mod(var(--red) l(+5%) s(-5%));
}

.subscribe-form .success .message-success {
    color: color-mod(var(--green) l(+5%) s(-5%));
}
